# TODO: add papers by configuration file
base_url: "https://arxiv.paperswithcode.com/api/v0/papers/"
user_name: ""
repo_name: "Extract_dataset"
max_results: 2


# file paths
download_papers_path: './papers'
papers_metadata_path: 'papers_metadata.jsonl'


# keywords to search
# 列表之间用AND连接，列表内每个词用OR连接
keywords:
    "LLM Coding":
        filters: [["llm", "large language model"],
                  ["code generation"],
                  ] 
    "LLM Testing":
        filters: [["llm", "large language model"],
                  ["unit test", "test generation"],
                  ]
    "LLM Translation":
        filters: [["llm", "large language model"],
                  ["code translation"],
                  ]
