base_url: "https://arxiv.paperswithcode.com/api/v0/papers/"
user_name: ""
repo_name: "Extract_dataset"
max_results: 2


# file paths
download_papers_path: './papers'
papers_metadata_path: 'papers_metadata.jsonl'


# categories to search
# 列表之间用AND连接，列表内每个词用OR连接
categories:
    - cs.SE # software engineering

#论文的分类
topic:
    - Code Pre-Training
    - Code Instruction-Tuning
    - Code Alignment
    - Code Prompting
    - Code Completion
    - Code Summarization
    - Code Debug
    - Code Editing
    - Code Translation
    - Code Testing

